#----------------------------------------------------
#	Copyright XingHaitao 2014 version 1.2
#	UCF FILE GENERATED @ 2016-08-10 13:57:41
#	The source file is  f:\DAHENG\hw_mer\branches\xinghaotao\u3v\hardware\be\v26\MER_BE_U3_V26_V10(1).NET
#----------------------------------------------------

NET	"CLK_40M_IN"	LOC = F1	| IOSTANDARD = "LVCMOS33";	#CLK_40M_IN
NET	"DDR3_VREF"	LOC = E12	| IOSTANDARD = "LVCMOS33";	#DDR3_VREF
NET	"DDR3_VREF"	LOC = L13	| IOSTANDARD = "LVCMOS33";	#DDR3_VREF
NET	"FDDR_A0"	LOC = H15	| IOSTANDARD = "LVCMOS33";	#FDDR_A0
NET	"FDDR_A1"	LOC = H16	| IOSTANDARD = "LVCMOS33";	#FDDR_A1
NET	"FDDR_A10"	LOC = C15	| IOSTANDARD = "LVCMOS33";	#FDDR_A10
NET	"FDDR_A11"	LOC = G11	| IOSTANDARD = "LVCMOS33";	#FDDR_A11
NET	"FDDR_A12"	LOC = D16	| IOSTANDARD = "LVCMOS33";	#FDDR_A12
NET	"FDDR_A13"	LOC = B15	| IOSTANDARD = "LVCMOS33";	#FDDR_A13
NET	"FDDR_A14"	LOC = B16	| IOSTANDARD = "LVCMOS33";	#FDDR_A14
NET	"FDDR_A2"	LOC = F16	| IOSTANDARD = "LVCMOS33";	#FDDR_A2
NET	"FDDR_A3"	LOC = H13	| IOSTANDARD = "LVCMOS33";	#FDDR_A3
NET	"FDDR_A4"	LOC = C16	| IOSTANDARD = "LVCMOS33";	#FDDR_A4
NET	"FDDR_A5"	LOC = J11	| IOSTANDARD = "LVCMOS33";	#FDDR_A5
NET	"FDDR_A6"	LOC = J12	| IOSTANDARD = "LVCMOS33";	#FDDR_A6
NET	"FDDR_A7"	LOC = F15	| IOSTANDARD = "LVCMOS33";	#FDDR_A7
NET	"FDDR_A8"	LOC = F13	| IOSTANDARD = "LVCMOS33";	#FDDR_A8
NET	"FDDR_A9"	LOC = F14	| IOSTANDARD = "LVCMOS33";	#FDDR_A9
NET	"FDDR_BA0"	LOC = G14	| IOSTANDARD = "LVCMOS33";	#FDDR_BA0
NET	"FDDR_BA1"	LOC = G16	| IOSTANDARD = "LVCMOS33";	#FDDR_BA1
NET	"FDDR_BA2"	LOC = E16	| IOSTANDARD = "LVCMOS33";	#FDDR_BA2
NET	"FDDR_CASN"	LOC = K14	| IOSTANDARD = "LVCMOS33";	#FDDR_CASN
NET	"FDDR_CKE"	LOC = D14	| IOSTANDARD = "LVCMOS33";	#FDDR_CKE
NET	"FDDR_CLK0"	LOC = G12	| IOSTANDARD = "LVCMOS33";	#FDDR_CLK0
NET	"FDDR_CLK0N"	LOC = H11	| IOSTANDARD = "LVCMOS33";	#FDDR_CLK0N
NET	"FDDR_DQ0"	LOC = L14	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ0
NET	"FDDR_DQ1"	LOC = M16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ1
NET	"FDDR_DQ10"	LOC = R15	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ10
NET	"FDDR_DQ11"	LOC = R16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ11
NET	"FDDR_DQ12"	LOC = T13	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ12
NET	"FDDR_DQ13"	LOC = P15	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ13
NET	"FDDR_DQ14"	LOC = T14	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ14
NET	"FDDR_DQ15"	LOC = P16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ15
NET	"FDDR_DQ2"	LOC = M15	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ2
NET	"FDDR_DQ3"	LOC = L16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ3
NET	"FDDR_DQ4"	LOC = J14	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ4
NET	"FDDR_DQ5"	LOC = K15	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ5
NET	"FDDR_DQ6"	LOC = J16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ6
NET	"FDDR_DQ7"	LOC = K16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ7
NET	"FDDR_DQ8"	LOC = R12	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ8
NET	"FDDR_DQ9"	LOC = T12	| IOSTANDARD = "LVCMOS33";	#FDDR_DQ9
NET	"FDDR_DQM0"	LOC = K11	| IOSTANDARD = "LVCMOS33";	#FDDR_DQM0
NET	"FDDR_DQM1"	LOC = K12	| IOSTANDARD = "LVCMOS33";	#FDDR_DQM1
NET	"FDDR_DQS0"	LOC = N14	| IOSTANDARD = "LVCMOS33";	#FDDR_DQS0
NET	"FDDR_DQS1"	LOC = R14	| IOSTANDARD = "LVCMOS33";	#FDDR_DQS1
NET	"FDDR_DQSN0"	LOC = N16	| IOSTANDARD = "LVCMOS33";	#FDDR_DQSN0
NET	"FDDR_DQSN1"	LOC = T15	| IOSTANDARD = "LVCMOS33";	#FDDR_DQSN1
NET	"FDDR_ODT"	LOC = H14	| IOSTANDARD = "LVCMOS33";	#FDDR_ODT
NET	"FDDR_RASN"	LOC = J13	| IOSTANDARD = "LVCMOS33";	#FDDR_RASN
NET	"FDDR_RSTN"	LOC = F12	| IOSTANDARD = "LVCMOS33";	#FDDR_RSTN
NET	"FDDR_TP"	LOC = L12	| IOSTANDARD = "LVCMOS33";	#FDDR_TP
NET	"FDDR_WEN"	LOC = E15	| IOSTANDARD = "LVCMOS33";	#FDDR_WEN
NET	"FLASH_HOLD_F"	LOC = R1	| IOSTANDARD = "LVCMOS33";	#FLASH_HOLD_F
NET	"FLASH_HOLD_U"	LOC = P1	| IOSTANDARD = "LVCMOS33";	#FLASH_HOLD_U
NET	"FPGA_DONE"	LOC = P13	| IOSTANDARD = "LVCMOS33";	#FPGA_DONE
NET	"FPGA_INIT_B"	LOC = R3	| IOSTANDARD = "LVCMOS33";	#FPGA_INIT_B
NET	"FPGA_M0"	LOC = T11	| IOSTANDARD = "LVCMOS33";	#FPGA_M0
NET	"FPGA_M1"	LOC = N11	| IOSTANDARD = "LVCMOS33";	#FPGA_M1
NET	"FPGA_PROGRAM"	LOC = T2	| IOSTANDARD = "LVCMOS33";	#FPGA_PROGRAM
NET	"FPGA_SUSPEND"	LOC = P14	| IOSTANDARD = "LVCMOS33";	#FPGA_SUSPEND
NET	"FPGA_TCK"	LOC = C14	| IOSTANDARD = "LVCMOS33";	#FPGA_TCK
NET	"FPGA_TDI"	LOC = C12	| IOSTANDARD = "LVCMOS33";	#FPGA_TDI
NET	"FPGA_TDO"	LOC = E14	| IOSTANDARD = "LVCMOS33";	#FPGA_TDO
NET	"FPGA_TMS"	LOC = A15	| IOSTANDARD = "LVCMOS33";	#FPGA_TMS
NET	"F_GPIO0_IN"	LOC = F2	| IOSTANDARD = "LVCMOS33";	#F_GPIO0_IN
NET	"F_GPIO0_OUT"	LOC = E2	| IOSTANDARD = "LVCMOS33";	#F_GPIO0_OUT
NET	"F_GPIO1_IN"	LOC = C3	| IOSTANDARD = "LVCMOS33";	#F_GPIO1_IN
NET	"F_GPIO1_OUT"	LOC = F3	| IOSTANDARD = "LVCMOS33";	#F_GPIO1_OUT
NET	"F_LED_GRE"	LOC = H4	| IOSTANDARD = "LVCMOS33";	#F_LED_GRE
NET	"F_LED_RED"	LOC = D3	| IOSTANDARD = "LVCMOS33";	#F_LED_RED
NET	"F_OUTPUT"	LOC = H3	| IOSTANDARD = "LVCMOS33";	#F_OUTPUT
NET	"F_TRIGGERIN"	LOC = E1	| IOSTANDARD = "LVCMOS33";	#F_TRIGGERIN
NET	"GND"	LOC = A1	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = A16	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = B11	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = B7	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = D13	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = D4	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = E9	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = G15	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = G2	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = G8	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = H12	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = H7	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = H9	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = J5	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = J8	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = K7	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = K9	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = L15	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = L2	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = M8	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = N13	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = P3	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = R10	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = R6	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = T1	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GND"	LOC = T16	| IOSTANDARD = "LVCMOS33";	#GND
NET	"GPIF_CLK"	LOC = E7	| IOSTANDARD = "LVCMOS33";	#GPIF_CLK
NET	"GPIF_CTL1"	LOC = C4	| IOSTANDARD = "LVCMOS33";	#GPIF_CTL1
NET	"GPIF_CTL11"	LOC = E8	| IOSTANDARD = "LVCMOS33";	#GPIF_CTL11
NET	"GPIF_CTL12"	LOC = B5	| IOSTANDARD = "LVCMOS33";	#GPIF_CTL12
NET	"GPIF_CTL4"	LOC = A5	| IOSTANDARD = "LVCMOS33";	#GPIF_CTL4
NET	"GPIF_CTL5"	LOC = C5	| IOSTANDARD = "LVCMOS33";	#GPIF_CTL5
NET	"GPIF_CTL7"	LOC = D5	| IOSTANDARD = "LVCMOS33";	#GPIF_CTL7
NET	"GPIF_DQ0"	LOC = A8	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ0
NET	"GPIF_DQ1"	LOC = C13	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ1
NET	"GPIF_DQ10"	LOC = C6	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ10
NET	"GPIF_DQ11"	LOC = A7	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ11
NET	"GPIF_DQ12"	LOC = C7	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ12
NET	"GPIF_DQ13"	LOC = E6	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ13
NET	"GPIF_DQ14"	LOC = C8	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ14
NET	"GPIF_DQ15"	LOC = A11	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ15
NET	"GPIF_DQ16"	LOC = C9	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ16
NET	"GPIF_DQ17"	LOC = D9	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ17
NET	"GPIF_DQ18"	LOC = A10	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ18
NET	"GPIF_DQ19"	LOC = B10	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ19
NET	"GPIF_DQ2"	LOC = B14	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ2
NET	"GPIF_DQ20"	LOC = F7	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ20
NET	"GPIF_DQ21"	LOC = F9	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ21
NET	"GPIF_DQ22"	LOC = C10	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ22
NET	"GPIF_DQ23"	LOC = A12	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ23
NET	"GPIF_DQ24"	LOC = A13	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ24
NET	"GPIF_DQ25"	LOC = E10	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ25
NET	"GPIF_DQ26"	LOC = B12	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ26
NET	"GPIF_DQ27"	LOC = C11	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ27
NET	"GPIF_DQ28"	LOC = A14	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ28
NET	"GPIF_DQ29"	LOC = D11	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ29
NET	"GPIF_DQ3"	LOC = B6	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ3
NET	"GPIF_DQ30"	LOC = E11	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ30
NET	"GPIF_DQ31"	LOC = F10	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ31
NET	"GPIF_DQ4"	LOC = A9	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ4
NET	"GPIF_DQ5"	LOC = D12	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ5
NET	"GPIF_DQ6"	LOC = A6	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ6
NET	"GPIF_DQ7"	LOC = D8	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ7
NET	"GPIF_DQ8"	LOC = D6	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ8
NET	"GPIF_DQ9"	LOC = B8	| IOSTANDARD = "LVCMOS33";	#GPIF_DQ9
NET	"SPI_CS_FPGA"	LOC = B3	| IOSTANDARD = "LVCMOS33";	#SPI_CS_FPGA
NET	"SPI_CS_SENSOR"	LOC = F4	| IOSTANDARD = "LVCMOS33";	#SPI_CS_SENSOR
NET	"S_CLK_IN_SR"	LOC = P7	| IOSTANDARD = "LVCMOS33";	#S_CLK_IN_SR
NET	"S_CLK_N2"	LOC = N8	| IOSTANDARD = "LVCMOS33";	#S_CLK_N2
NET	"S_CLK_N4"	LOC = T8	| IOSTANDARD = "LVCMOS33";	#S_CLK_N4
NET	"S_CLK_N5"	LOC = T7	| IOSTANDARD = "LVCMOS33";	#S_CLK_N5
NET	"S_CLK_P2"	LOC = M9	| IOSTANDARD = "LVCMOS33";	#S_CLK_P2
NET	"S_CLK_P4"	LOC = P8	| IOSTANDARD = "LVCMOS33";	#S_CLK_P4
NET	"S_CLK_P5"	LOC = R7	| IOSTANDARD = "LVCMOS33";	#S_CLK_P5
NET	"S_DIFF_N0"	LOC = M11	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N0
NET	"S_DIFF_N1"	LOC = M10	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N1
NET	"S_DIFF_N3"	LOC = P9	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N3
NET	"S_DIFF_N6"	LOC = T9	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N6
NET	"S_DIFF_N7"	LOC = T6	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N7
NET	"S_DIFF_N8"	LOC = P5	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N8
NET	"S_DIFF_N9"	LOC = T5	| IOSTANDARD = "LVCMOS33";	#S_DIFF_N9
NET	"S_DIFF_P0"	LOC = M12	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P0
NET	"S_DIFF_P1"	LOC = L10	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P1
NET	"S_DIFF_P3"	LOC = N9	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P3
NET	"S_DIFF_P6"	LOC = R9	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P6
NET	"S_DIFF_P7"	LOC = P6	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P7
NET	"S_DIFF_P8"	LOC = N5	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P8
NET	"S_DIFF_P9"	LOC = R5	| IOSTANDARD = "LVCMOS33";	#S_DIFF_P9
NET	"S_SIG0"	LOC = M7	| IOSTANDARD = "LVCMOS33";	#S_SIG0
NET	"S_SIG1"	LOC = P4	| IOSTANDARD = "LVCMOS33";	#S_SIG1
NET	"S_SIG2"	LOC = P11	| IOSTANDARD = "LVCMOS33";	#S_SIG2
NET	"S_SIG3"	LOC = T4	| IOSTANDARD = "LVCMOS33";	#S_SIG3
NET	"S_SIG4"	LOC = N6	| IOSTANDARD = "LVCMOS33";	#S_SIG4
NET	"S_SIG5"	LOC = L8	| IOSTANDARD = "LVCMOS33";	#S_SIG5
NET	"S_SIG6"	LOC = M6	| IOSTANDARD = "LVCMOS33";	#S_SIG6
NET	"S_SIG7"	LOC = L7	| IOSTANDARD = "LVCMOS33";	#S_SIG7
NET	"TEST30"	LOC = A3	| IOSTANDARD = "LVCMOS33";	#TEST30
NET	"TEST31"	LOC = G1	| IOSTANDARD = "LVCMOS33";	#TEST31
NET	"TEST32"	LOC = H1	| IOSTANDARD = "LVCMOS33";	#TEST32
NET	"TEST33"	LOC = R2	| IOSTANDARD = "LVCMOS33";	#TEST33
NET	"USB30_FPGA_GPIO"	LOC = E3	| IOSTANDARD = "LVCMOS33";	#USB30_FPGA_GPIO
NET	"USB30_INT_L"	LOC = A4	| IOSTANDARD = "LVCMOS33";	#USB30_INT_L
NET	"USB30_SPI_CLK"	LOC = R11	| IOSTANDARD = "LVCMOS33";	#USB30_SPI_CLK
NET	"USB30_SPI_MISO"	LOC = P10	| IOSTANDARD = "LVCMOS33";	#USB30_SPI_MISO
NET	"USB30_SPI_MOSI"	LOC = N12	| IOSTANDARD = "LVCMOS33";	#USB30_SPI_MOSI
NET	"VCC_1V2_FPGA"	LOC = G7	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = G9	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = H10	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = H8	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = J7	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = J9	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = K10	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V2_FPGA"	LOC = K8	| IOSTANDARD = "LVCMOS33";	#VCC_1V2_FPGA
NET	"VCC_1V5"	LOC = D15	| IOSTANDARD = "LVCMOS33";	#VCC_1V5
NET	"VCC_1V5"	LOC = G13	| IOSTANDARD = "LVCMOS33";	#VCC_1V5
NET	"VCC_1V5"	LOC = J15	| IOSTANDARD = "LVCMOS33";	#VCC_1V5
NET	"VCC_1V5"	LOC = K13	| IOSTANDARD = "LVCMOS33";	#VCC_1V5
NET	"VCC_1V5"	LOC = N15	| IOSTANDARD = "LVCMOS33";	#VCC_1V5
NET	"VCC_1V5"	LOC = R13	| IOSTANDARD = "LVCMOS33";	#VCC_1V5
NET	"VCC_1V8_FPGA"	LOC = B13	| IOSTANDARD = "LVCMOS33";	#VCC_1V8_FPGA
NET	"VCC_1V8_FPGA"	LOC = B4	| IOSTANDARD = "LVCMOS33";	#VCC_1V8_FPGA
NET	"VCC_1V8_FPGA"	LOC = B9	| IOSTANDARD = "LVCMOS33";	#VCC_1V8_FPGA
NET	"VCC_1V8_FPGA"	LOC = D10	| IOSTANDARD = "LVCMOS33";	#VCC_1V8_FPGA
NET	"VCC_1V8_FPGA"	LOC = D7	| IOSTANDARD = "LVCMOS33";	#VCC_1V8_FPGA
NET	"VCC_3V3"	LOC = N10	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = N7	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = R4	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = R8	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = D2	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = G4	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = J2	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = K4	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_3V3"	LOC = N2	| IOSTANDARD = "LVCMOS33";	#VCC_3V3
NET	"VCC_AUX"	LOC = E5	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = F11	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = F8	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = G10	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = H6	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = J10	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = L6	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
NET	"VCC_AUX"	LOC = L9	| IOSTANDARD = "LVCMOS33";	#VCC_AUX
